*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h1Index{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}


/* ----------------- Header ----------------- */

.principal{
    background-color: #ccb786;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    grid-gap:10px;
    grid-template-areas: 
    "principal principal principal"
    "carrousel carrousel"
    "parrafoIndex parrafoIndex parrafoIndex"
    "titulosIndex titulosIndex titulosIndex"
    "fotosIndex fotosIndex fotosIndex"
    "footer footer footer";

}


.nav{
    justify-content: center;
    display: flex;
    list-style-type: none;
       
}

.nav li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    
    
}

/* ----------------- Main ----------------- */

.parrafoIndex{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;

}
.divFotos{
    display: flex;
    justify-content: center;
    
}

.divFotos img{
    border: solid 1px rgb(153, 133, 133);
    border-radius: 8px;
    margin: 10px 20px;
}

.titulosIndex{
    margin: 30px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
}

.titulosIndex h4{
    
    padding: 0px 0px;
}

.fotosIndex{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
            
}

.fotosIndex a img{
    margin: 0px 5px;
    border: solid 1px;
    border-radius: 8px;
    width: 270px;
    height: 360px;
}



/* ----------------- Footer ----------------- */

.footer{
    background-color: #776d57;
}

.divNav{
    display: inline-block;
    
}

.divLogos{
    float: right;

}
.navFooter{
    display: flex;
    left: auto;
}

.navFooter a{
    display: inline;
    padding: 5px 10px;
    text-decoration: none;
}

.espFooter{
   padding: 5px 8px 5px 8px
}


/* ----------------- Logos Footer ----------------- */

.logosFooter{
    margin-right: 5px;
    display: inline;

}

.logosFooter li{
    display: inline-block;
    align-content: flex-end;
    justify-content: center;
}


.logos{
    top: 10px;
    height: 22px;
    width: 22px;
    padding: 3px 3px;
}

/* ----------------- Form footer ----------------- */
.formFooter{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#emlogo{
    height: 30px;
    width: 30px;
    position: relative;
    top: 11px;
}

/* ----------------- ubicacion.html -----------------  */

.h2Ubicacion{
    margin-top: 10px;
    margin-left: 30px;
}
.divUbicacion iframe{   
    border: solid 2px rgb(141, 121, 121);
}

.divParrafoUbicacion{
    /* background-color: goldenrod; */
    width: 30%;
    margin: 100px 20px;
    float: left;
}

.parrafoUbicacion1{
    margin: 10px;
}

.parrafoUbicacion2{
    margin: 10px;

}

.parrafoUbicacion3{
    margin: 40px 10px;
}

.parrafoUbicacion4{
    margin: 40px 10px;
}

.divUbicacion{
    width: 600px;
    height: 450px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* ----------------- tarifas.html -----------------  */

.h2Tarifas{
    margin: 30px 0;
    text-align: center;
}

.listaTarifas{

    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

/* ----------------- servicios.html -----------------  */



/* ----------------- contacto.html -----------------  */

.h2Contacto{
    text-align: center;
    margin: 30px 0;
}

.divFormContacto{
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


/* input[type=text] { */
.formContacto{
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px auto;    
}

.formContacto textarea{
    width: 100%;
}


/*--Responsive--*/

@media screen and (max-width: 768px) {
    .principal {
      margin: 10px auto;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr;
  
      grid-template-areas:
    "principal principal "
    "carrousel carrousel"
    "parrafoIndex parrafoIndex"
    "titulosIndex titulosIndex"
    "fotosIndex fotosIndex"
    "footer footer";
    }
  }
  
  
  @media screen and (max-width: 480px ) {
      .principal {
        margin: 15px auto;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;         
    
        grid-template-areas:
    "principal"
    "carrousel"
    "parrafoIndex"
    "titulosIndex"
    "fotosIndex"
    "fotosIndex"
    "footer";
      }
  }